body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}
.background{
    position: relative;
    
    background-image: url(./images/dc3af4bb6098eff558d56a7a22b2ca25.jpeg);
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.heading{
    position: absolute;
    top: 50%;
    color: #d4cdcd;
    font-size:60px;
    width: 100%;
    animation: drop 3.0s ease; /* Make things beautiful */
    cursor: pointer;
    text-align: center;
    
    
    font-family:Georgia, 'Times New Roman', Times, serif


}
.child{
    text-align: center;
    font-size: 30px;
    

}
.childpara{
    text-align: justify;
    text-align: center;
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;

}
section{
    overflow: auto;
    padding: 50px 80px;
}
.parallax{
        background-image: url(./images/gettyimages-1354937085-641c7cc60cd4e.jpg);
        background-attachment: fixed;
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        height:60vh;

    }
    .section1{
        background-color: rgb(156, 156, 210);
    }
    .parallax2{
        background-image: url(./images/1317388.jpeg);
        background-attachment: fixed;
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        height:60vh;


    }
    .parallax3{
        background-image: url(./images/8-89079_solar-system-wallpaper-19-planet.jpg);
        background-attachment: fixed;
        background-position:top;
        background-size:cover;
        background-repeat: no-repeat;
        height:60vh;


    }
    .parallax4{
        background-image: url(./images/1331288.png);
        background-attachment: fixed;
        background-position:top;
        background-size:cover;
        background-repeat: no-repeat;
        height:60vh;


    }
    .head2{
    
    
        color: #fbf1f1;
        font-size:60px;
        width: 100%;
        animation: drop 3.0s ease; /* Make things beautiful */
        cursor: pointer;
        text-align: center; 
        padding-top: 200px;
        
        
        font-family:Georgia, 'Times New Roman', Times, serif
    
    }
    footer{
        width: 100%;
        background-color: #484040;
        color: #f2f2f2;
        height: 3vh;
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 1vh;
    }
    
